.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 248, 238);

}

.Header{
  display:flex;
  flex-direction: column;
  padding-bottom: 50px; 

}

.UpperHeader{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}


.Logo{
  flex: 4;
  display:flex;
  font-size: larger;
  font-family: 'Gupter';
  font-size: 20px;
}

.Menu{
  flex: 1;
  display: flex;
}

.Menu_Child{
  display: flex;
  flex: 1;
  align-items:flex-start;
}

.Menu_Child2{
  padding-right: 50px;
  align-items: flex-end;
}

.LowerHeader{
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
}

.Introduction{
  display: flex;
  aspect-ratio: 16/6;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 15px 5px rgb(149, 149, 149);
  border:1px solid #948d75; 
  overflow: hidden;

}


.Button_Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../Images/Background.png); 
  background-size: 100%;
  width: 600px;
  height: 500px;

}

.Button{
  padding: 7px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.Introduction_textbox{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.TextBox_text{
  font-size: 40px;
  text-shadow: -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(0, 0, 0),
  2px 1px 0 rgb(255, 255, 255);
  font-family: "Calibri";}

.Divider{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.Divider_Title{
  display:flex;
  justify-content: center;
  padding: 20px;
}

.Title_Divider{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Divider_Image{
  width: 500px;
  height: 1px;

}
.Title_Text{
  display: flex;
  flex: 1;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;

}

.Basic_TextBox{
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.TextBox_Child{
  display:flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}

.TextBoxGoal_Child{
  display:flex;
  flex-direction: column;
  font-size: 18 px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  background-color: rgb(255, 251, 246);
  border:0.5px solid #000000;

}

.indentation{
  padding-top: 20px;
}

.Basic_ImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.Basic_Image1{
  height: 800px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;}

.Basic_Image2{
  height: 300px;
  width: auto;
}

.Basic_Image3{
  height: 600px;
  width: auto;
}

.Basic_Image4{
  height: 500px;
  width: auto;
  padding-bottom: 50px;
  padding-top: 25px;
}

.OtherProjects_Divider{
  display:flex;
  align-items:left;
  flex-direction: column;
  padding-top: 100px;

}

.Other_ProjectsTitle{
  display: flex;
  justify-content: center;
}

.OtherProjectsTitle_Text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Other_ProjectsComponents{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.Other_ProjectsChild{
  display: flex;
  justify-content: center; 
  flex-direction: row;
}

.Portfolio_Box{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Portfolio_Box_Title{
  text-align: center;
  padding-bottom: 10px;
}

.Portfolio_image_container{
  display: block;
  text-align: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.Portfolio_Image{
  height: 200px;
  width: 200px;
  cursor: pointer;
  transition: transform .2s;

}

.Portfolio_Image:hover{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);

}

.Hyperlink{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Gupter";
}

.Hyperlink:hover{
  text-decoration: underline;
}